.App {
  text-align: center; 
}
body{
  background: #171717;
}
.canv {
  width: 100vw;
  height: 100vh;
}
.logo {
  color: rgb(230, 230, 230);
  position: absolute;
  font-size: 1.5em;
  top: 2vh;
  left: 3vw;
}





